<form class="form" [formGroup]="myForm">
  <h1 class="form-title">Formulario Reactivo</h1>

  <div class="form-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      id="name"
      class="input"
      formControlName="name"
      [ngClass]="{ 'input-error': checkFieldError('name') }"
    />
    <div *ngIf="checkFieldError('name')" class="error-message">
      {{ checkFieldError('name') }}
    </div>
  </div>
  <div class="form-group">
    <label for="lastname">Apellido</label>
    <input
      type="text"
      id="lastname"
      class="input"
      formControlName="lastname"
      [ngClass]="{ 'input-error': checkFieldError('lastname') }"
    />
    <div *ngIf="checkFieldError('lastname')" class="error-message">
      {{ checkFieldError('lastname') }}
    </div>
  </div>
  <div class="form-group">
    <label for="email">Correo</label>
    <input
      type="email"
      id="email"
      class="input"
      formControlName="email"
      [ngClass]="{ 'input-error': checkFieldError('email') }"
    />
    <div *ngIf="checkFieldError('email')" class="error-message">
      {{ checkFieldError('email') }}
    </div>
  </div>
  <div class="form-actions">
    <button class="submit-button" type="submit" [disabled]="formError().length !== 0">Enviar</button>
  </div>
</form>

<p class="form-output">{{ myForm.value | json }}</p>
