@layer theme, base, components, utilities, shell;

@layer shell {
  body {
    color: var(--text-color);
    background-color: #2ea297;
  }

  .page {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    min-height: 10rem;
  }
}
