header {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0rem 1rem;
  box-shadow: var(--shadow);
  top: 0;
  z-index: 100;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

.notification {
  background-color: white;
  color: #7678ed;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
