@tailwind base;
@tailwind components;
@tailwind utilities;

.ng-invalid {
  border: 1px solid #ff6b6b;
}

.ng-invalid-text {
  color: #ff6b6b;
  font-size: 14px;
}

button:disabled {
  background-color: #dadafe;
  color: #a0a0a0;
  cursor: not-allowed;
}

button {
  background-color: #5c5eba;
  color: #ffffff;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: #4b4d9a;
}
